*{
    background: #F3F5FC;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 06%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    margin-left: 100px;
    text-transform: lowercase;
}

::placeholder { color: #0A3871}
.text-area:focus {
    outline: none;
}

.mensaje{
    background: white;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% 30%;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 100px;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    position: fixed;
    width: 350px;
    height: 600px;
}

.noMensaje{
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 350px;
    margin-left: 110px;
    margin-top: 400px;
    background: none;
}
.ingresaMensaje{
    font-size: 80%;
    text-align: center;
    position: absolute;
    width: 350px;
    margin-left: 110px;
    margin-top: 455px;
    background: none;
}

.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    margin-left: 100px;
    height: 67px;
    width: 328px;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 120px;
    margin-top: 555px;
    position: absolute;
    width: 328px;
}

.informacion{
    color: #495057;
    font-size: 18px;
    margin-left: 100px;
}

